<!-- views/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Dish</title>
  </head>
  <body>
    <h1>Create a New Dish!</h1>
    <form action="/foods" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />
  
      <label for="isGoodToEat">Delicious to Eat?</label>
      <input type="checkbox" name="isGoodToEat" id="isGoodToEat" />
  
      <button type="submit">Add Dish</button>
    </form>
  </body>
</html>


